@page "/restaurante/gerenciar-restaurantes"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante
@using RedRidersNew.Models;
@inject RestauranteDAO restauranteDAO;
@inject NavigationManager Navigation

<PageTitle>Gerenciar Restaurantes</PageTitle>

<div class="container py-4">
    <NavBarRestaurante />

    <section class="mb-4">
        <div class="search-box">
            <input type="text" placeholder="Pesquisar restaurante..." />
            <button class="btn-search">Buscar</button>
            <NavLink href="restaurante/cadastrar-restaurante" class="btn btn-primary px-4 py-2 d-flex align-items-center gap-2">
                <i class="bi bi-plus-circle"></i>
            </NavLink>
        </div>
    </section>

    @* simulação de busca *@
    <div class="container py-4">

        <div class="row g-4">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">

              @foreach (var restaurante in listaRestaurante)
              {
                    <!-- CARD 1 -->
                    <div class="card shadow-sm border-0 h-100">
                        <div class="position-relative">

                            <img class="card-img-top"
                                 src="@restaurante.imagem"
                            alt="Restaurante" />

                            <!-- faixa do título -->
                            <div class="titulo-faixa">
                                @restaurante.nome
                            </div>

                        </div>

                        <div class="card-body text-center">

                            <div class="btn-group w-100 btn-soft-group">
                                <NavLink href="@("restaurante/" + restaurante.Id + "/editar-restaurante")" class="btn btn-soft-primary d-flex align-items-center justify-content-center gap-1">
                                    <i class="bi bi-pencil-square"></i>
                                </NavLink>

                                <NavLink href="@("restaurante/" + restaurante.Id + "/detalhes-restaurante")"class="btn btn-soft-neutral d-flex align-items-center justify-content-center gap-1">
                                    <i class="bi bi-eye"></i>
                                </NavLink>
                                <EditForm Model="@restaurante" OnSubmit="() => Excluir(restaurante.Id)" formname="@($"formExcluir_{restaurante.Id}")">
                                    <button type="submit" class="btn btn-soft-danger d-flex align-items-center justify-content-center gap-1">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </EditForm>
                            </div>

                        </div>

                    </div>
              }
            </div>
        </div>

    </div>

</div>

@code {
    private List<Restaurante> listaRestaurante = new();

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Restaurante restaurante { get; set; } = new();

    protected override void OnInitialized()
    {
        CarregarProdutos();
    }

    private void CarregarProdutos()
    {
        listaRestaurante = restauranteDAO.ListarTodos();
    }

    private void Excluir(int id)
    {
        try
        {
            restauranteDAO.Excluir(id);
            Navigation.NavigateTo("/restaurante/gerenciar-restaurantes", true);
        }
        catch (Exception ex)
        {
            erro = $"Erro ao excluir o restaurante: {ex.Message}";
        }
    }
}