@page "/restaurante/gerenciar-cardapios"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@inject NavigationManager Nav
@layout MainLayoutRestaurante
@using RedRidersNew.Models
@inject CardapioDAO cardapioDAO;
@inject NavigationManager Navigation

<PageTitle>Gerenciar Cardápios</PageTitle>

<div class="container py-4">

    <NavBarCardapio />

    <section class="mb-4">
        <div class="search-box d-flex gap-2">
            <input type="text" class="form-control" placeholder="Pesquisar cardápios..."  />
            <button class="btn btn-search btn-secondary">Buscar</button>

            <NavLink href="/restaurante/cadastro-cardapio"
                     class="btn btn-primary px-4 py-2 d-flex align-items-center gap-2">
                <i class="bi bi-plus-circle"></i>
            </NavLink>
        </div>
    </section>

    <div class="row g-4">
        @foreach (var cardapio in listaCardapio)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card shadow-sm border-0 h-100">
                    <div class="position-relative">
                        <img class="card-img-top"  alt="@cardapio.nome" />
                        <div class="titulo-faixa">@cardapio.nome</div>
                        <div class="titulo-faixa">@cardapio.descricao</div>

                    </div>

                    <div class="card-body text-center">
                        <div class="btn-group w-100 btn-soft-group">
                            <NavLink href=@("/restaurante/editar-cardapio/" + cardapio.Id)
                                     class="btn btn-soft-primary d-flex align-items-center justify-content-center gap-1">
                                <i class="bi bi-pencil-square"></i>
                            </NavLink>

                            <NavLink href=@("/restaurante/detalhes-cardapio/" + cardapio.Id)
                                     class="btn btn-soft-neutral d-flex align-items-center justify-content-center gap-1">
                                <i class="bi bi-eye"></i>
                            </NavLink>

                            <EditForm Model="@cardapio" OnSubmit="() => Excluir(cardapio.Id)" formname="@($"formExcluir_{cardapio.Id}")">
                                <button type="submit" class="btn btn-soft-danger d-flex align-items-center justify-content-center gap-1">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </EditForm>
                            
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private List<Cardapio> listaCardapio = new();

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Cardapio cardapio { get; set; } = new();

    protected override void OnInitialized()
    {
        CarregarProdutos();
    }

    private void CarregarProdutos()
    {
        listaCardapio = cardapioDAO.ListarTodos();
    }

    private void Excluir(int id)
    {
        try
        {
            cardapioDAO.Excluir(id);
            Navigation.NavigateTo("/restaurante/gerenciar-restaurantes", true);
        }
        catch (Exception ex)
        {
            erro = $"Erro ao excluir o restaurante: {ex.Message}";
        }
    }
}
