@page "/entregador/editar-veiculo/{Id:int}"
@using RedRidersNew.Components.Layout.LayoutEntregador
@layout MainLayoutEntregador
@rendermode InteractiveServer
@using RedRidersNew.Models
@inject VeiculoDAO veiculoDAO;
@inject NavigationManager Navigation

<PageTitle>Editar Veículo - @veiculo.Id</PageTitle>

<div class="container py-4">

    <NavBarVeiculos />

    <div class="card shadow-sm p-4">
        <h4 class="mb-3">Editar Veículo</h4>

        <EditForm Model="@veiculo" OnValidSubmit="Salvar">
            <DataAnnotationsValidator />

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <InputText class="form-control" @bind-Value="@veiculo.nome" />
            </div>

            <div class="mb-3">
                <label class="form-label">Modelo</label>
                <InputText class="form-control" @bind-Value="@veiculo.modelo" />
            </div>

            <div class="mb-3">
                <label class="form-label">Imagem (URL)</label>
                <InputText class="form-control" @bind-Value="@veiculo.rotaimg" />
            </div>

            <button type="submit" class="btn btn-soft-primary px-4">Salvar Alterações</button>
        </EditForm>
    </div>
</div>

@code {
    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Veiculo veiculo { get; set; } = new();

    protected override void OnInitialized()
    {
        var veiculos = veiculoDAO.BuscarPorId(Id);

        if (veiculo != null)
        {
            veiculo = veiculos;
        }
        else
        {
            erro = "Produto não encontrado.";
        }
    }

    private void Salvar()
    {
        try
        {
            veiculoDAO.Atualizar(veiculo);

            Navigation.NavigateTo("/restaurante/gerenciar-restaurantes");
        }
        catch (Exception ex)
        {
            erro = $"Erro ao salvar: {ex.Message}";
        }

    }
}
