@page "/restaurante/detalhes-prato/{id:int}"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante
@rendermode InteractiveServer
@using RedRidersNew.Models
@inject PratosDAO pratosDAO;
@inject NavigationManager Navigation

<PageTitle>Detalhes do Prato  - @pratos.Id</PageTitle>

<div class="container py-4">
    <NavBarCardapio />

    <div class="card shadow-sm p-4">

        <div class="row g-4">

            <!-- Imagem do prato -->
            <div class="col-md-5">
                
            </div>

            <div class="col-md-7">

                <h3 class="fw-bold">@pratos.nome</h3>
                
                <h3 class="fw-bold">Numero cardapio @pratos.idCcarFk</h3>

                <h4 class="text-primary fw-bold mt-3">R$ @pratos.preco</h4>

                

                <div class="mt-3">
                    <h6 class="fw-semibold">Descrição:</h6>
                    <p class="text-muted">@pratos.descricao</p>
                </div>

               

            </div>

        </div>
    </div>
</div>

@code {

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Pratos pratos { get; set; } = new();

    protected override void OnInitialized()
    {
        var c = pratosDAO.BuscarPorId(Id);

        if (c != null)
        {
            pratos = c;
        }
        else
        {
            erro = "Produto não encontrado.";
        }
    }
}
